*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    cursor: pointer;
}

.shopify-dashboard {
    background: #F1F1F1;
    min-height: 100vh;
}

header {
    background-color: #1A1A1A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    padding: 0 16px;
}

.shopify-logo {
    flex: 1;
}

.shopify-logo-mobile {
    display: none;
}


.shopify-search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 32px;
    border-radius: 8px;
    border: 1px solid #616161;
    background:  #303030;
    padding: 8px;
}

.shopify-search:hover {
    border: 1px solid #E1E1E1;
}
.shopify-search:active {
    border: 2px solid #FFF;
}

.shopify-search:focus {
    border: 2px solid #FFF;
}

.shopify-search svg {
    width: 20px;
}

.shopify-search input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    padding-left: 6px;
    color: #fff;
    font-size: 14px;
}

.shopify-search input::placeholder {
    font-size: 13px;
    color: #B5B5B5;
    font-weight: 500;
}

.shopify-profile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}

.shopify-profile-notification-bell, .shopify-profile-dropdown, .shopify-profile-dropdown-mobile {
    background: none;
    border: 0;
    outline: 0;
}

.shopify-profile-notification-bell {
    width: 32px;
    height: 32px;
    background: #303030;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    transition: all 200ms ease-in;
}

.shopify-profile-notification-bell:hover,
.shopify-profile-dropdown:hover {
    background-color: #616161;
}

.shopify-profile-notification-bell:active,
.shopify-profile-notification-bell:focus,
.shopify-profile-dropdown:active,
.shopify-profile-dropdown:focus {
    background-color: #656266;
}

.shopify-profile-notification-bell:focus,
.shopify-profile-dropdown:focus,
.shopify-subscription-action button:focus,
.shopify-profile-dropdown-mobile:focus,
.shopify-setup-step-action-button:focus {
    outline: 2px solid #005BD3;
    outline-offset: 1px;
}

.shopify-profile-dropdown{
    display: flex;
    align-items: center;
    height: 32px;
    padding: 0 0 0 8px;
    margin-left: 8px;
    background: #303030;
    border-radius: 8px;
    cursor: pointer;

    transition: all 200ms ease-in;
}

.shopify-profile-dropdown-mobile {
    display: none;
}

.shopify-profile-dropdown p{
    color: #E3E3E3;
    font-size: 14px;
    font-weight: 500;
}

.shopify-profile-dropdown span{
    color: #00000066;
    font-size: 14px;
    font-weight: 600;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #36FBA1;
    padding: 0 4px;
    height: 26px;
    border-radius: 8px;
    margin: 0 4px 0 8px;
}

.shopify-dashboard-content {
    max-width: 800px;
    margin: 20px auto;
}

.shopify-subscription {
    display: flex;
    align-items: center;
    background: #1A1A1A;
    padding: 12px 16px;
    border-radius: 6px;
}

.shopify-subscription p {
    font-size: 14px;
    font-weight: 500;
    color: #E3E3E3;
}

.shopify-subscription-action {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.shopify-subscription-action button {
    font-size: 14px;
    font-weight: 600;
    padding: 6px 12px;
    margin-right: 8px;

    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #FFF;

    transition: all 200ms ease-in;
}

.shopify-subscription-action button:hover {
    background: #F7F7F7;
    box-shadow: 0px -1px 0px 0px #B5B5B5;
}

.shopify-subscription-action button:active {
    border-radius: 6px;
    background: #F7F7F7;
    box-shadow: 0px 2px 1.5px 0px #E2E2E2 inset;
}

.shopify-setup {
    width: 100%;
    background: #fff;
    margin-top: 16px;
    padding: 8px;
    border-radius: 15px;
}

.shopify-setup-section {
    margin: 8px 8px 16px 8px;
}

.shopify-setup-title {
    display: flex;
    justify-content: space-between;
}

.shopify-setup h2 {
    font-size: 14px;
    font-weight: 600;
}

.shopify-setup-subtitle {
    font-size: 13px;
    font-weight: 400;
}

.shopify-setup-progress {
    margin-top: 16px;
    display: flex;
    align-items: center;
}

.shopify-setup-progress p {
    font-size: 12px;
}

.shopify-setup-progress-bar {
    width: 72px;
    height: 4px;
    background: #E3E3E3;
    margin-left: 8px;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
}

.shopify-setup-progress-bar:after {
    content: "";
    position: absolute;
    background: #1A1A1A;
    left: 0;
    top:0;
    bottom: 0;
    width: 20px;
}

.shopify-setup-step {
    padding: 8px;
    display: none;
    align-items: start;
    border-radius: 10px;
    background: #F3F3F3;
}

.shopify-setup-step.active {
    display: flex;
}
.shopify-setup-icon {
    transition: all 200ms ease-in;
}

.shopify-setup-step-action {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 8px;
    gap: 16px;
}

.shopify-setup-step-icon .default {
    display: block;
}

.shopify-setup-step-icon .hover-state {
    display: none;
}

.shopify-setup-step-icon:hover .default {
    display: none;
}
.shopify-setup-step-icon:hover .hover-state {
    display: block;
}

.shopify-setup-step-header-title {
    font-size: 13px;
    font-weight: 600;
}

.shopify-setup-step-info-text {
    font-size: 13px;
    font-weight: 500;
}

.shopify-setup-step-info-text p {
    color: #616161;
}

.shopify-setup-step-info-text a {
    text-decoration: none;
    color: #005BD3;
    font-size: 14px;
}

.shopify-setup-step-action-button {
    padding: 6px 12px;
    border-radius: 6px;
    border-top: 1.5px solid rgba(255, 255, 255, 0.20);
    border-right: 1.5px solid rgba(255, 255, 255, 0.20);
    border-left: 1.5px solid rgba(255, 255, 255, 0.20);
    background: #404040;
    box-shadow: 0px 0px 0px 1.5px #333, 0px 1px 0px 1.5px #333, 0px 2px 0px 0px #000;
    color: #F6F3F6;
    font-weight: 600;
    font-size: 12px;
    transition: all 200ms ease-in;
}

.shopify-setup-step-action-button:hover {
    background: #2A2A2A;
}

.shopify-setup-step-action-button:active {
    background: #2B2B2B;
    box-shadow: 0px 0px 0px 1.5px #333, 0px 3px 0px 0px #000 inset;
}

.shopify-setup-step-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: end;
}

@media screen and (max-width: 767px) {
    .shopify-logo {
        display: none;
    }

    .shopify-logo-mobile {
        display: block;
    }

    .shopify-profile-dropdown {
        display: none;
    }

    .shopify-search {
        margin: 0 8px;
    }

    .shopify-profile {
        flex: 0;
    }

    .shopify-profile-notification-bell {
        background-color: transparent;
    }

    .shopify-profile-dropdown-mobile {
    color: #00000066;
    font-size: 12px;
    font-weight: 600;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #36FBA1;
    height: 32px;
    width: 32px;
    border-radius: 8px;
    margin-left: 8px;
    }

    .shopify-dashboard-content {
        width: 100%;
        margin-top: 25px;
    }

    .shopify-subscription {
        align-items: start;
        border-radius: 0;
    }

    .shopify-subscription-action {
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 16px;
    }

    .shopify-setup {
        border-radius: 0;
    }

    .shopify-setup-step {
        padding: 12px 8px;
    }

    .shopify-setup-step-image {
        display: none;
    }
}